@using Syncfusion.Blazor.Navigations

<div id="head">
    <SfToolbar>
        <ToolbarItems>
            <ToolbarItem PrefixIcon="e-tbar-menu-icon tb-icons" TooltipText="Menu" OnClick="Toggle" >
                
            </ToolbarItem>
            <ToolbarItem Align="@ItemAlign.Center">
                <Template>
                    <div class="e-folder">
                        <div class="e-folder-name">Ocean Wide</div>
                    </div>
                </Template>
            </ToolbarItem>
        </ToolbarItems>
    </SfToolbar>
</div>

<SfSidebar @ref="sidebarObj" @bind-IsOpen="SidebarToggle" MediaQuery="(min-width: 1000px)">
    <ChildContent>
            <div class="sidebar-item" id="toggle" @onclick="Toggle">
                    <span class="e-icons expand"></span>
            </div>
     
            <span class="e-avatar e-avatar-large e-avatar-circle image"></span>
            <div class="sidebar-name">
                <div class="sidebar-firstname">John</div>
                <div class="sidebar-lastname">Doughboy</div>
            </div>
            
            <SfAccordion>
                <AccordionItems>
                    <AccordionItem Header="Dashboard" IconCss="e-dashboard e-icons" Expanded="true">
                        <ContentTemplate>
                            <ul>
                                <li><span class="e-icons e-content-icon">Sales Dashboard</span> </li>
                                <li><span class="e-icons e-content-icon">Analysis Dashboard</span> </li>
                            </ul>
                        </ContentTemplate>
                    </AccordionItem>
                    <AccordionItem Header="Profile" IconCss="e-profile e-icons" Expanded="true">
                        <ContentTemplate>
                            <ul>
                                <li><span class="e-icons e-content-icon">Attendance</span> </li>
                                <li><span class="e-icons e-content-icon">Perfomrance</span> </li>
                                <li><span class="e-icons e-content-icon">Team mates</span></li>
                            </ul>
                        </ContentTemplate>
                    </AccordionItem>
                    <AccordionItem Header="Achievements" IconCss="e-achievements e-icons">
                        <ContentTemplate>
                            <ul>
                                <li><span class="e-icons e-content-icon">LeaderBoard</span> </li>
                                <li> <span class="e-icons e-content-icon">Awards</span> </li>
                            </ul>
                        </ContentTemplate>
                    </AccordionItem>
                    <AccordionItem Header="Scheduler" IconCss="e-scheduler e-icons">
                        <ContentTemplate>
                            <ul>
                                <li><span class="e-icons e-content-icon">Calendar</span> </li>
                                <li><span class="e-icons e-content-icon">Meetings</span> </li>
                            </ul>
                        </ContentTemplate>
                    </AccordionItem>
                </AccordionItems>
            </SfAccordion>
                   <nav class="flex-column">
                <div class="nav-item px-3">
                    <NavLink class="nav-link" href="" Match="NavLinkMatch.All">
                        <span class="oi oi-home" aria-hidden="true"></span> Home
                    </NavLink>
                </div>
                <div class="nav-item px-3">
                    <NavLink class="nav-link" href="create_account">
                        <span class="oi oi-plus" aria-hidden="true"></span> Create Account
                    </NavLink>
                </div>
                <div class="nav-item px-3">
                    <NavLink class="nav-link" href="counter">
                        <span class="oi oi-plus" aria-hidden="true"></span> Counter
                    </NavLink>
                </div>
                <div class="nav-item px-3">
                    <NavLink class="nav-link" href="fetchdata">
                        <span class="oi oi-list-rich" aria-hidden="true"></span> Fetch data
                    </NavLink>
                </div>
            </nav>
    </ChildContent>
</SfSidebar>

@code {
    SfSidebar sidebarObj;
    public string Target = ".maincontent";
    public bool SidebarToggle = false;

    public void Toggle()
    {
        SidebarToggle = !SidebarToggle;
    }
}
